.auth-form {
  font-family: 'Questrial';
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .auth-form-top {
    img {
      margin: 0 auto;
      width: 80px;
    }

    h3 {
      font-size: 40px;
      font-family: 'Multi';
      margin: 0 auto;
      margin: 20px;
    }
  }

  .auth-form-main {
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 30px;

    ul {
      li {
        text-align: center;
        list-style: none;
        color: red;
        font-size: 18px;
        margin: 10px;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        padding: 10px;
        margin: 20px 10px 20px 10px;
        width: 85%;
        border-radius: 10px;
        font-size: 25px;
        border: 1px solid #cacaca;
      }

      .auth-form-input {
        padding-left: 20px;
        letter-spacing: 2px;
      }

      input::-webkit-input-placeholder {
        font-size: 25px;
        color: #9c9c9c;
      }

      input[type='submit'] {
        text-align: center;
        border-width: 0;
        min-height: 30px;
        color: #ffffff;
        background: #2dbe60;
        border: 1px solid #1fae52;
      }

      input[type='submit']:hover {
        background: #1fae52;
        cursor: pointer;
      }

      input[type='submit']:active {
        background: #1A9446;
      }

      input:focus {
        outline-style: none;
        box-shadow: 0 0 1.5px 1.5px #61C5FA;
      }
    }
  }
  .switch-panel {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Multi';

    a {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1600px) {
  .auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .auth-form-top {
      img {
        width: 60px;
      }

      h3 {
        font-size: 24px;
        margin: 10px;
      }
    }

    .auth-form-main {
      padding: 20px;
      max-width: 350px;

      ul {
        li {
          font-size: 16px;
          margin: 5px;
        }
      }

      form {
        input {
          height: 24px;
          border-radius: 8px;
        }

        input::-webkit-input-placeholder {
          font-size: 20px;
          color: #9c9c9c;
        }

        input[type='submit'] {
          font-size: 24px;
          color: #ffffff;
          background: #2dbe60;
          border: 1px solid #1fae52;
        }
      }

      .switch-panel {
        margin-top: 10px;
        padding-top: 20px;
        font-size: 18px;

        a {
          margin-top: 10px;
        }
      }
    }
  }
}

@media(max-width: 800px) {
  .auth-form {
    width: 300px;
  }
}