.note-index {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  width: 350px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.notes-header {
  font-family: 'Raleway';
  height: 100px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;

  h1 {
      color: #4a4a4a;
  }
}

.notes {
  overflow-y: scroll;
  height: 100%;
}

.note-item {
  font-family: 'Raleway';
  height: 130px;
  border-top: 1px solid #ececec;
  color: grey;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    font-weight: bold;
    color: #4a4a4a;
  }

  span {
    font-size: 14px;
    letter-spacing: 1px;
  }

  p {
    margin-top: 5px;
  }
}

.note-item:first-of-type {
  border-top: none;
}

.note-item:hover {
  background: #1fae52;
  cursor: pointer;
  color: white;

  h1 {
    color: inherit;
  }
}

.note-item:active {
    border: 3px solid lightgrey;
  }