.note-index {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  min-width: 350px;
  max-width: 350px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.notes-header {
  font-family: 'Raleway';
  height: 100px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;

  h1 {
    font-size: 24px;
    color: #4a4a4a;
  }
}

.notes {
  overflow-y: scroll;
  height: 100%;
}

.note-item {
  font-family: 'Raleway';
  height: 130px;
  border-top: 1px solid #ececec;
  color: grey;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: bold;
    color: #4a4a4a;
    width: 270px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  span {
    font-size: 14px;
    letter-spacing: 1px;
  }

  p {
    margin: 5px 0; 
    height: 58px;
    width: 270px;
    overflow: hidden;
  }

  .trash-can {
    width: 20px;
    height: 20px;
  }

  .trash-can:hover {
    transform: scale(1.3);
  }
}

.note-item:first-of-type {
  border-top: none;
}

.note-item:hover {
  background: #2dbe60;
  cursor: pointer;
  color: white;

  h1 {
    color: inherit;
  }
}