.sidebar {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 73px;
  background: #f8f8f8;
  border-right: 1px solid #ececec;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 50px;
      margin-top: 20px;
    }
  }

  .sidebar-btn {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 50px;
  }

  .sidebar-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .side-notebooks, .side-tags {
    margin-top: 10px;
  }

  .side-logout {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .side-logout:hover {
    transform: scale(1);
    box-shadow: 0 0 1.5px 1.5px #1A9446;
  }
}

.index {
  width: 450px;
  height: 100%;
  margin-left: 73px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}