.sidebar {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 73px;
  background: #f8f8f8;
  border-right: 1px solid #ececec;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      margin-top: 20px;
    }

    .sidebar-new {
      text-align: center;;
    }
  }

  .sidebar-btn {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 50px;
  }

  .sidebar-btn:hover {
    background: #1fae52;
    cursor: pointer;
  }

  .sidebar-btn:active {
    background: #1A9446;
  }
  
  .nav {
    .sidebar-btn {
      border: none;
    }
  }

  .side-notes {
    margin-top: 0;
  }

  .side-notebooks, .side-tags {
    margin-top: 10px;
  }

  .side-logout {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}

// @media (max-width: 800px) {
//   .sidebar {
//     width: 75px;
//   }

//   .main {
//     left: 75px;
//   }
// }