.text-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .title {
    font-size: 28px;
    color: #2dbe60;
    padding: 15px;
  }
  
  .title::-webkit-input-placeholder {
    color: #2dbe60;
  }

  .text-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .ql-toolbar {
      border-bottom: 1px solid #ececec;
    }
  }
}