.text-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .editor-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .done-button {
      text-align: center;
      color: #ffffff;
      background: #2dbe60;
      border: 1px solid #1fae52;
      border-radius: 5px;
      height: 28px;
      width: 80px;
      margin: 20px 15px;
    }

    .done-button:hover {
      background: #1fae52;
      cursor: pointer;
    }

    .title {
      font-size: 28px;
      color: #2dbe60;
      padding: 15px;
    }
    
    .title::-webkit-input-placeholder {
      color: #2dbe60;
    }
  }


  .option {
    width: 100%;
    height: 26px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;

    .option-list {
      display: flex;
      flex-direction: row;

      .tag-name {
        margin: 0 5px;
        padding: 2px 7px;
        background: #f8f8f8;
        border: 1px solid #ececec;
        border-radius: 5px;
        font-size: 14px;
      }

      .tag-name:hover {
        background: #2dbe60;
        border: 1px solid #1fae52;
        cursor: pointer;

        span {
          color: white;
        }
      }
    }

    #newTag {
      margin: 0 5px;
      padding: 2px 7px;
      background: #f8f8f8;
      border: 1px solid #ececec;
      border-radius: 5px;
      font-size: 14px;
      width: 24px;
    }

    #newTag:focus {
      width: auto;
      height: 24px;
      line-height: 24px;
    }
  }

  .editor-notebooks {
    background: #2dbe60;
    border: 1px solid #1fae52;
    color: white;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    height: 23px;
  }

  .text-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .ql-toolbar {
      border-bottom: 1px solid #ececec;
    }
  }
}