.text-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .title {
    font-size: 28px;
    color: #2dbe60;
    padding: 15px;
  }
  
  .title::-webkit-input-placeholder {
    color: #2dbe60;
  }

  .option {
    width: 100%;
    height: 26px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;

    .option-list {
      display: flex;
      flex-direction: row;

      .tag-name {
        margin: 0 5px;
        padding: 2px 7px;
        background: #f8f8f8;
        border: 1px solid #ececec;
        border-radius: 5px;
        font-size: 14px;
      }

      .tag-name:first-of-type {
        margin-left: 0;
      }
    }

    #newTag {
      margin: 0 5px;
      padding: 2px 7px;
      background: #f8f8f8;
      border: 1px solid #ececec;
      border-radius: 5px;
      font-size: 14px;
      width: 25px;
    }

    #newTag:focus {
      width: auto;
    }
  }

  .text-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .ql-toolbar {
      border-bottom: 1px solid #ececec;
    }
  }
}